/*View in 1410width resolution*/
/* red border elements are gonna be with pure white background*/
* {
  scroll-behavior: smooth;
  cursor: default;
  text-align: center;
  position: relative;
  z-index: 0;
}

body {
  display: block;
}

/*navigation here*/
header {
  width: 90%;
  height: 75px;
  /*border: 2px solid red;*/
  margin: 0% 5% 0% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.logo {
  width: 22.5%;
  left: -3.75%;
}

.menu {
  left: 490px;
}

.cart {
  left: 0px;
}

/* content holder*/
main {
  width: 90%;
  /*border: 2px solid red;*/
  margin: 0px auto 0px auto;
  display: block;
}

/* banner picture here*/
.section1 {
  width: 100%;
  height: 400px;
  border: 2px solid
    /* #B5B5B5*/
    #B5B5B5;
  border-radius: 12px;
  margin: 0%;
  background-color: white;
  display: block;
  z-index: 1;
  overflow: hidden;
}

/* textbox on the top of the picture*/
.text {
  z-index: 1;
  left: -35%;
  top: 10%;
}

.welcome {
  z-index: 1;
  left: 35%;
  top: -40px;
}

.banner {}

.banner img {
  width: 95%;
  position: relative;
  bottom: 300px;
  left: 0%;
  z-index: -1;
}

/* description or articles here */
.section2 {
  width: 60%;
  height: 300px;
  border: 2px solid #B5B5B5;
  border-radius: 12px;
  margin: -2% 0% 0% 0%;
  padding: 1% 20% 1% 20%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.about1 {
  padding-top: -300px;
  padding-bottom: -100px;
  width: 80%;
  font-size: 30px;
}

.about2 {
  margin-top: 50px;
  width: 80%;
  height: 50px;
  justify-content: space-around;
}

.about2 img {
  height: 150px;
  width: 150px;
}

.section3 {
  width: 60%;
  height: 300px;
  border: 2px solid #B5B5B5;
  border-radius: 12px;
  margin: -2% 0% 0% 0%;
  padding: 1% 20% 1% 20%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

.about3 {}

.about4 {}

footer {
  width: 80%;
  height: 150px;
  /*border: 2px solid red;*/
  margin: 0% 5% 0% 5%;
  display: flex;
  justify-content: space-between;
  padding: 0% 5% 0% 5%;
  align-items: center;
}

.part1 {}

.part2 {}

.part3 {}

.part4 {}

.part5 {}

/* Responsive*/
/* Mobile resolution*/
@media only screen and (max-width: 350px) {
  body {
    display: block;
  }

  /*Mobile navigation here*/
  header {
    width: 100%;
    height: 75px;
    /*border: 2px solid red;*/
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    overflow: hidden;
  }

  .logo {
    width: 200%;
    left: -40px;
  }

  .menu {
    left: -35px;
  }

  .cart {
    left: -10px;
  }

  /*Mobile content holder*/
  main {
    width: 100%;
    /*border: 2px solid red;*/
    margin: 0px auto 0px auto;
    display: block;
  }

  /*Mobile banner picture here*/
  .section1 {
    width: 100%;
    height: 400px;
    border: 2px solid #B5B5B5;
    border-radius: 12px;
    margin: 0%;
    background-color: white;
    display: block;
    z-index: 1;
    overflow: hidden;
  }

  /*Mobile textbox on the top of the picture*/
  .text {
    z-index: 1;
    left: 0%;
    top: 2.5%;
  }

  .welcome {
    z-index: 1;
    left: 0%;
    top: 0%;
  }

  .banner {}

  .banner img {
    width: 200%;
    position: relative;
    bottom: 100px;
    left: -17%;
    z-index: -1;
  }

  /*Mobile description or articles here */
  .section2 {
    width: 100%;
    height: 450px;
    border: 2px solid #B5B5B5;
    border-radius: 12px;
    margin: -6% 0% 0% 0%;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 0%;
    padding-bottom: 20%;
  }

  .about1 {
    padding: 5%;
  }

  .about2 {
    padding: 5%;
  }

  .section3 {
    height: 500px;
    width: 80%;
    padding: 10%;
    margin-top: -30px;
  }

  .about3 {
    width: 20%;
    height: 50px;
    margin-top: 10px;
  }

  .about4 {}

  footer {
    width: 80%;
    height: 150px;
    /*border: 2px solid red;*/
    margin: 0% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    padding: 0% 5% 0% 5%;
    align-items: center;
  }

  .part1 {}

  .part2 {}

  .part3 {}

  .part4 {}

  .part5 {}
}

@media only screen and (min-width: 351px) {}

@media only screen and (min-width: 600px) {}

/*Tablet Version */
@media only screen and (min-width: 800px) and (max-width:1000px) {

  /*Tablet navigation here*/
  header {
    width: 100%;
    height: 75px;
    /*border: 2px solid red;*/
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    overflow: hidden;
  }

  .logo {
    width: 40%;
    left: -50px;
  }

  .menu {
    left: 125px;
  }

  .cart {
    left: -10px;
  }

  /*Tablet content holder*/
  main {
    width: 100%;
    /*border: 2px solid red;*/
    margin: 0px auto 0px auto;
    display: block;
  }

  /*Tablet banner picture here*/
  .section1 {
    width: 100%;
    height: 525px;
    border: 2px solid #B5B5B5;
    border-radius: 12px;
    margin: 0%;
    background-color: white;
    display: block;
    z-index: 1;
    overflow: hidden;
  }

  /*Tablet textbox on the top of the picture*/
  .text {
    z-index: 1;
    left: 0%;
    top: 2.5%;
  }

  .welcome {
    z-index: 1;
    left: 0%;
    top: 0%;
  }

  .banner {}

  .banner img {
    width: 150%;
    position: relative;
    bottom: 225px;
    left: -12.5%;
    z-index: -1;
  }

  /*Tablet description or articles here */
  .section2 {
    width: 60%;
    height: 275px;
    border: 2px solid #B5B5B5;
    border-radius: 12px;
    margin: -6% 0% 0% 0%;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-bottom: 12.5%;
  }

  .about1 {
    padding: 5%;
  }

  .about2 {
    padding: 5%;
    padding-bottom: -300px;
  }

  .about3 {
    width: 20%;
    height: 50px;
    margin-top: 40px;
  }

  .about4 {}

  footer {
    width: 80%;
    height: 150px;
    /*border: 2px solid red;*/
    margin: 0% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    padding: 0% 5% 0% 5%;
    align-items: center;
  }

  .part1 {}

  .part2 {}

  .part3 {}

  .part4 {}

  .part5 {}
}
}

/*One size smaller as the original*/
@media only screen and (min-width: 1000px) and (max-width:1409px) {}

/*One size larger as the original*/
@media only screen and (min-width:1600px) {}

@media only screen and (min-width:1800px) {}
